target/

BoulderDash/target/
BoulderDash/contract/bin/
BoulderDash/contract/target/

BoulderDash/controller/bin/
BoulderDash/controller/target/

BoulderDash/main/bin/
BoulderDash/main/target/

BoulderDash/model/bin/
BoulderDash/model/target/

BoulderDash/view/bin/
BoulderDash/view/target/



pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Compiled class file
*.class
*.classpath

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
